@import "tailwindcss";

@theme {
  --font-branding: "Press Start 2P", sans-serif;
  --font-heading: "Press Start 2P", sans-serif;
  --font-sans: "Handjet", sans-serif;
}

body { background-color: #f3f4f6; }
